    @import '_robby';
    #map {
        position: relative;
        padding: 80px 0 0;
        #gmap {
            width: 100%;
            height: calc(100vh - 80px);
            background: #E5E3DF;
        }
        .layer {
            z-index: 99;
            overflow-y: scroll;
            overflow-x: hidden;
            position: absolute;
            left: 10px;
            top: 310px;
            padding: 20px 0 20px 20px;
            width: 250px;
            height: 50%;
            background: rgba(255, 255, 255, .9);
            &.layer-toggle {
                // close menu
            }
        }
        .layer-control {
            position: absolute;
            left: 253px;
            top: 310px;
            width: 20px;
            height: 30px;
            background: rgba(255, 255, 255, .8);
            box-shadow: 1px 1px 2px 0 #ccc;
            cursor: pointer;
            .icon-triangle {
                position: relative;
            }
            .icon-triangle-left {
                margin-left: 1px;
                margin-top: 5px;
            }
            .icon-triangle-right {
                margin-left: 3px;
                margin-top: 5px;
            }
            &:hover {
                left: 260px;
                background: rgba(255, 255, 255, 1);
            }
            &.layer-control-toggle {
                // close menu
            }
        }
        .map-tab {
            display: none;
            position: fixed;
            right: 0;
            bottom: 0;
            height: calc(100vh - 80px);
            background: rgba(215, 222, 222, .8);
            @include mobile-min {
                width: 500px;
                display: inline-block;
            }
            .tab-search {
                display: inline-block;
                margin: 30px 0 10px;
                .sr-input {
                    float: left;
                    padding: 0 10px;
                    height: 40px;
                    width: 230px;
                    color: #8a8a8a;
                    border: medium none;
                    border-radius: 4px 0 0 4px;
                    box-shadow: none;
                }
                .sr-btn {
                    padding: 10px 20px;
                    height: 40px;
                    color: #fff;
                    margin-right: 8px;
                }
            }
            .nav-tabs {
                background: #fff;
                li {
                    width: calc(100% / 4);
                    text-align: center;
                    &.active a {
                        border: none !important;
                        color: $green;
                        background: #eee;
                    }
                    a {
                        margin-right: 0;
                        color: #8a8a8a;
                        border: none;
                        cursor: pointer;
                        &:hover,
                        &:active {
                            background: #eee;
                        }
                    }
                }
            }
            .tab-content {
                padding: 5px 15px;
                background: #fff;
                th {
                    text-align: center;
                }
                .ddl {
                    padding-bottom: 3px;
                    height: 28px;
                }
                .list-box {
                    overflow-y: scroll;
                    display: block;
                    height: calc( 100vh - 280px);
                }
                .btn {
                    width: 120px;
                }
            }
        }
        .map-tab-mobile {
            @include mobile {
                display: inline-block;
            }
            display: none;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            border: 1px solid #ddd;
            background: #fff;
            .nav {
                li {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    height: 100%;
                    width: calc(100% / 4);
                    text-align: center;
                    &:hover {
                        background: eee;
                    }
                    a {
                        border-right: 1px solid #37ADA5;
                        display: block;
                        background: $green;
                        color: #fff;
                        font-size: 12px;
                        font-weight: bold;
                        &.map-favorite {
                            border: none;
                        }
                        i {
                            display: block;
                            font-weight: bold;
                        }
                        &:hover {
                            background: #3CBBB2;
                        }
                    }
                }
            }
        }
        .mobile-search-group {
            position: fixed;
            top: 120px;
            width: 100vw;
            @include mobile-min {
                display: none;
            }
            .search-box {
                display: block;
                width: 70%;
                padding: 10px;
                background: $green;
                border-radius: 4px;
                .sr-input {
                    float: left;
                    padding: 0 10px;
                    width: 70%;
                    height: 40px;
                    border: medium none;
                    border-radius: 4px;
                    box-shadow: none;
                    color: #8a8a8a;
                    border-radius: 4px 0 0 4px;
                }
                .sr-btn {
                    padding: 0 20px;
                    height: 40px;
                    width: 30%;
                    background: none repeat scroll 0 0 #00a6b2;
                    border: medium none;
                    border-radius: 0 4px 4px 0;
                    color: #fff;
                }
            }
        }
    }