.login {
  float: right; }

.photo-slider {
  width: 100%;
  height: 100%;
  float: left;
  margin: 30px auto; }
  .photo-slider .photo-text {
    float: left;
    width: 40%;
    padding-top: 50px;
    text-align: center; }
  .photo-slider .photo-img {
    float: left;
    width: 50%;
    text-align: center; }
    .photo-slider .photo-img img {
      width: 600px;
      height: 339px;
      margin: 5px 0; }
  .photo-slider .photo-text h3 {
    font-size: 20px;
    color: #444444; }
  .photo-slider .photo-text p {
    margin: auto;
    width: 70%;
    color: #666666;
    text-align: left;
    font-size: 18px;
    letter-spacing: 1px; }
