@charset "UTF-8";
.sign {
  width: 100%;
  height: 100%;
  margin: 10px 0 60px 10px; }

.sign-group {
  display: block;
  width: 70%;
  float: left;
  text-align: center; }
  .sign-group h3 {
    margin-top: 0;
    color: #555; }
  .sign-group .tablesign {
    margin: auto;
    border-collapse: collapse; }
    .sign-group .tablesign th {
      color: #666; }
    .sign-group .tablesign tr:nth-child(5) td {
      padding: 10px 0 0; }
    .sign-group .tablesign tr:last-child td {
      text-align: center; }
      .sign-group .tablesign tr:last-child td button {
        margin: 10px; }

.sign-clause {
  width: 30%;
  float: left;
  margin-bottom: 40px; }
  .sign-clause h3 {
    color: #555;
    text-align: center; }
  .sign-clause .clause {
    width: 500px;
    height: 450px;
    overflow-y: scroll;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #CCC; }
  .sign-clause p {
    letter-spacing: 2px;
    line-height: 28px;
    cursor: not-allowed;
    padding: 10px 20px; }
    .sign-clause p::before {
      content: '　　'; }
