#sliderFrame {
  width: 80vw !important;
  padding-top: 50px !important;
  margin-top: 20px !important;
  padding-right: 0 !important;
  border: none !important;
  box-shadow: none !important; }
  #sliderFrame #thumbs {
    width: 25%;
    margin-left: 30px; }

#slider, #slider .sliderInner {
  width: 700px !important;
  height: 455px !important; }

.mc-caption {
  top: -45px !important; }
