<div class="slide">
    <ul id="slide-build" class="slide-nav">
        <li><a class="selected" href="#" scroll="build1">弘業樓</a></li>
        <li><a href="#" scroll="build2">昌明樓</a></li>
        <li><a href="#" scroll="build3">翰英樓</a></li>
        <li><a href="#" scroll="build4">奇秀樓</a></li>
        <li><a href="#" scroll="build6">資訊館</a></li>
        <li><a href="#" scroll="build7">中正大樓</a></li>
        <li><a href="#" scroll="build8">中商大樓</a></li>
        <li><a href="#" scroll="build9">行政大樓</a></li>
        <li><a href="#" scroll="build10">學生活動中心</a></li>
    </ul>
</div>
<div class="clear"></div>