<div id="sliderFrame" class="sport-content">
    <div id="slider">
        <a><img src="http://cdn.robby570.tw/img/sport/操場.jpg" alt="操場" /></a>
        <a><img src="http://cdn.robby570.tw/img/sport/籃球場.jpg" alt="籃球場" /></a>
        <a><img src="http://cdn.robby570.tw/img/sport/網球場.jpg" alt="網球場" /></a>
        <a><img src="http://cdn.robby570.tw/img/sport/排球場.jpg" alt="排球場" /></a>
        <a><img src="http://cdn.robby570.tw/img/sport/壘球場.jpg" alt="壘球場" /></a>
        <a><img src="http://cdn.robby570.tw/img/sport/羽球場.jpg" alt="羽球場" /></a>    
    </div>

    <div id="thumbs">
        <div class="thumb">
            <div class="frame"><img src="http://cdn.robby570.tw/img/sport/操場.jpg" /></div>
            <div class="thumb-content"><p>操場</p>這是操場,位於昌明樓左側、弘業樓右側。</div>
            <div style="clear:both;"></div>
        </div>
        <div class="thumb">
            <div class="frame"><img src="http://cdn.robby570.tw/img/sport/籃球場.jpg" /></div>
            <div class="thumb-content"><p>籃球場</p>這是籃球場,位於昌明樓正後方。</div>
            <div style="clear:both;"></div>
        </div>
        <div class="thumb">
            <div class="frame"><img src="http://cdn.robby570.tw/img/sport/網球場.jpg" /></div>
            <div class="thumb-content"><p>網球場</p>網球場,在操場中間。</div>
            <div style="clear:both;"></div>
        </div>
        <div class="thumb">
            <div class="frame"><img src="http://cdn.robby570.tw/img/sport/排球場.jpg" /></div>
            <div class="thumb-content"><p>排球場</p>排球場位於翰英樓前方、司令台兩側。</div>
            <div style="clear:both;"></div>
        </div>
        <div class="thumb">
            <div class="frame"><img src="http://cdn.robby570.tw/img/sport/壘球場.jpg" /></div>
            <div class="thumb-content"><p>壘球場</p>壘球場在操場旁，奇秀樓和體育館中間。</div>
            <div style="clear:both;"></div>
        </div>
        <div class="thumb">
            <div class="frame"><img src="http://cdn.robby570.tw/img/sport/羽球場.jpg" /></div>
            <div class="thumb-content"><p>羽球場</p>羽球場在體育館1樓。</div>
            <div style="clear:both;"></div>
        </div>
    </div>

    <div style="clear:both;height:0;"></div>
</div>
